<div class="header">
  <div class="container">
    <img src="http://s3.amazonaws.com/codecademy-content/courses/learn-rails/img/logo-1tm.svg" width="80">
    <h1>BokenjiKan</h1>
  </div>
</div>

<div class="destination">
  <div class="container">
    <h2 class="destination-title"><%= @destination.name %></h2>

    <div class="cards row">

      <div class="card col-xs-4">
        <img src="<%= @destination.image %>">
        <p><%= @destination.description %></p>
      </div>

    </div>
    <%= link_to "Back", tag_path() %>
  </div>
</div>
